# Ignore node_modules directory
frontend/node_modules/

# Ignore build directory
frontend/build/

# Ignore SQLite database file
frontend/src/names_numbers.db

# Ignore Python virtual environment
backend/venv/

# Ignore __pycache__ directories
backend/__pycache__/

# Ignore Docker related files
frontend/.dockerignore
backend/.dockerignore

# Ignore environment files
frontend/.env
backend/.env

# Ignore log files
frontend/logs/
backend/logs/
