# Ignore node_modules directory
frontend/node_modules/

# Ignore build directory
frontend/build/

# Ignore SQLite database file
frontend/src/names_numbers.db

# Ignore Python virtual environment
backend/venv/

# Ignore __pycache__ directories
backend/__pycache__/
